<% provide(:title, 'Contactenos') %>
<div class="wrapper banner banner-contact">
    <%= render 'layouts/menu' %>
    <div class="row">
        <div class="large-12 medium-12 small-12 columns title-banner contact-title disable-select">
            <span><h1>Contactenos</h1></span>
        </div>
    </div>
</div>
<div class="or-spacer">
    <div class="mask"></div>
    <span><i class="fi-telephone"></i></span>
</div>

<section class="wrapper location">
    <div class="row disable-select">
        <div class="large-12 medium-12 small-12 columns location-title">
            <h1><i class="fi-map"></i> DONDE UBICARNOS</h1>
            <hr>
            <div class="embed-container">
                <iframe src="https://www.google.com/maps/d/embed?mid=zQWXgAI4yDWQ.knh3WOGq74rI" width="100%" height="580"></iframe>
            </div>
        </div>
    </div>
</section>

<section class="wrapper contact-section location-title">
    <div class="row disable-select">
        <div class="large-10 large-centered medium-10 small-12 small-centered columns">
            <h1>Conoce como podemos transformar tu negocio hoy. Contactanos hoy.</h1>
        </div>
        <div class="large-10 large-centered medium-10 small-12 small-centered columns">            
            <%= form_for @message, :html => {:class => "contact-form"} do |f| %>
                    <% if @message.errors.any? %>
                        <div id="error_explanation">
                            <h2>
                                <%= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %>
                            </h2>
                            <ul>
                                <% @message.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>

                    <%= f.label :nombre %>
                    <%= f.text_field :name, placeholder: "Ingrese su nombre", :required => true %>
                    <%= f.label :email %>
                    <%= f.email_field :email, placeholder: "Ingrese su correo electronico", :required => true %>

                    <%= f.label :Titulo %>
                    <%= f.text_field :subject, placeholder: "Ingrese el asunto de su mensaje" %>

                    <%= f.label :contenido %><div id="textarea_feedback"></div>
                    <%= f.text_area :content, :cols => 60, :rows => 8, placeholder: "Ingrese su mensaje", :required => true, :maxlength => 1445, id: "textarea" %>
                
                    <br>
                    <%= f.submit 'Enviar', class: 'button' %>
                
                <% end %>
        </div>
    </div>
</section>

<section class="wrapper">
    <div class="row disable-select">
        <div class="large-6 medium-6 small-12 columns contact-info">
            <h1>Direccion</h1>
            <br>Urbanización La Cooperativa, calle 23 de julio número 45, Maracay estado Aragua – Venezuela.
        </div>
        <div class="large-5 medium-5 small-12 columns contact-info">
            Teléfono: <span>+58(0243)-671-8372</span><br>
            Correo: <span>ixglobal.ca@gmail.com</span><br>
            Twitter: <span>@ixglobal</span><br>
            Skype: <span>tonnyps</span><br>
            Hangout: <span>ixglobal@gmail.com</span><br>
        </div>
    </div>
</section>

<%= render 'layouts/footer' %>