<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
       <!-- <%= # stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= # javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <link rel="icon" type="image/png" href="/assets/logo.png" />
        <%= csrf_meta_tags %>
        <link href='https://fonts.googleapis.com/css?family=Oswald:700,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Anton&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script>
            new WOW().init();
        </script> -->
        
        <link rel="stylesheet" media="all" href="/assets/animate.self-f3a610dd36919b73429d147f661c0abbf1dae53ad6854592d2be2003fd8417d3.css?body=1" data-turbolinks-track="true">
<link rel="stylesheet" media="all" href="/assets/app.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="true">
<link rel="stylesheet" media="all" href="/assets/fonts/geomanist_regular__italic/01.Geomanist_Regular/Geomanist_Regular_Webfontkit/specimen_files/grid_12-825-55-15.self-8a03d7b792c69b55c791e59b754c9029ff9a5a902084627d016a36efe4e4eba9.css?body=1" data-turbolinks-track="true">
<link rel="stylesheet" media="all" href="/assets/fonts/geomanist_regular__italic/01.Geomanist_Regular/Geomanist_Regular_Webfontkit/specimen_files/specimen_stylesheet.self-d2f745bd0b23364275d3bf2a249924ffce94597c2a391cbd37bc5ca6974b27c5.css?body=1" data-turbolinks-track="true">
<link rel="stylesheet" media="all" href="/assets/fonts/geomanist_regular__italic/01.Geomanist_Regular/Geomanist_Regular_Webfontkit/stylesheet.self-a094ddde1a77aa2e8f192317434c35c0a089ef7bfd491e7e45827a03a67cd76c.css?body=1" data-turbolinks-track="true">
<link rel="stylesheet" media="all" href="/assets/fonts/geomanist_regular__italic/02.Geomanist_Regular_Italic/Geomanist_Regular_Italic_Webfontkit/specimen_files/grid_12-825-55-15.self-8a03d7b792c69b55c791e59b754c9029ff9a5a902084627d016a36efe4e4eba9.css?body=1" data-turbolinks-track="true">
<link rel="stylesheet" media="all" href="/assets/fonts/geomanist_regular__italic/02.Geomanist_Regular_Italic/Geomanist_Regular_Italic_Webfontkit/specimen_files/specimen_stylesheet.self-d2f745bd0b23364275d3bf2a249924ffce94597c2a391cbd37bc5ca6974b27c5.css?body=1" data-turbolinks-track="true">
<link rel="stylesheet" media="all" href="/assets/fonts/geomanist_regular__italic/02.Geomanist_Regular_Italic/Geomanist_Regular_Italic_Webfontkit/stylesheet.self-3a39ca7dc7b0c9471223fefef0e48939ccfe2172ed082940e60b56a29cc39c27.css?body=1" data-turbolinks-track="true">
<link rel="stylesheet" media="all" href="/assets/foundation-icons/foundation-icons/foundation-icons.self-c28dac872066d88edaa09e58b8f8637a6c4216c0e74de88ba4537ed279156a41.css?body=1" data-turbolinks-track="true">
<link rel="stylesheet" media="all" href="/assets/foundation.self-158b85c0438e3d567b913c80b47a8c7ce7a99853ae4a0d1654f8a7bd6b5799ce.css?body=1" data-turbolinks-track="true">
<link rel="stylesheet" media="all" href="/assets/static_pages.self-0c715ece395d612e357dd8dee756a5f214810363d652c9a1d7e1c1ad8f267d28.css?body=1" data-turbolinks-track="true">
<link rel="stylesheet" media="all" href="/assets/application.self-e80e8f2318043e8af94dddc2adad5a4f09739a8ebb323b3ab31cd71d45fd9113.css?body=1" data-turbolinks-track="true">
        <script src="/assets/jquery.self-c64a74367bda6ef8b860f19e74df08927ca99d2be2ac934e9e92d5fd361e0da4.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/jquery_ujs.self-d602bdfe68ffc63b9f9cc512872aa3cfff046228a0a36e90dd476e8ef54c1b09.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/turbolinks.self-c37727e9bd6b2735da5c311aa83fead54ed0be6cc8bd9a65309e9c5abe2cbfff.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/app.self-c89b7a361593106453fbdf684c30721245fa53056e2c124bfc6fadfae32c9e55.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/custom.self-d0eaeb95d5fca9aacd25c3b91b05177af3469807cd5fc765401a02cdbb7746c7.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/foundation.self-dc60f46c021797ea777e5bbef094e85321ef5ef4447d3a649b9aa94dbc17c62e.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/jquery.min.self-6806c88afe0840c35208894c4ceba911154f696b624614b30b884298c2c3e00d.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/smoothScroll.self-7dc9e27774ac4ff365cc74baba4d93606ca42bf647939c766b4c83fc6505d867.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/static_pages.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/vendor/jquery.min.self-97d8f5e8a703d3d2aa6f6a2e3b0842d9f32841dabb5706704be961c994a7fe65.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/vendor/what-input.min.self-afca90dfa64d484300d1fa3bf890248fad1591d359c1efadc7f4baff86723f9b.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/wow.min.self-068ab66793d2981ee217806641e2f30a0c485169493d5296b4bb55bc47ca3a13.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/application.self-3b8dabdc891efe46b9a144b400ad69e37d7e5876bdc39dee783419a69d7ca819.js?body=1" data-turbolinks-track="true"></script>
        <link rel="icon" type="image/png" href="/assets/logo.png">
        <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="48vzavX/WLYnfjh8mcFoMdSITkOdYvzpMXWcPPq9MqzK34lLsSsvcMUgsME5+GInuSLGuhclZp4BCtb4KLwLgQ==">
        <link href="https://fonts.googleapis.com/css?family=Oswald:700,400&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Anton&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Poiret+One&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <script>
            new WOW().init();
        </script>
        
    </head>
    <body data-no-turbolink>
        <div id="loader"></div>
        
        <%= yield %>
        
    </body>
</html>